---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

import Layout from "../../layouts/Layout.astro";
import GoBack from "../../components/Gallery/GoBack.vue";

export async function getStaticPaths() {
  const galleryItems = await getCollection("gallery");
  return galleryItems.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout
  title={`${entry.data.title} | Gallery`}
  description={entry.data.description}
  sourceLink="/src/pages/gallery/[...slug].astro"
>
  <main>
    <div class="card">
      <span>
        <GoBack client:only />
      </span>
      <h1 transition:name={`${entry.slug}-title`}>
        {entry.data.title}
        <small transition:name={`${entry.slug}-year`}>
          ({entry.data.year})
        </small>
      </h1>

      <div class="gallery-item-block">
        <div class="img">
          <Image
            src={entry.data.image}
            transition:name={`${entry.slug}-img`}
            alt={entry.data.title}
          />
        </div>

        <div>
          <Content />
        </div>
      </div>
    </div>
  </main>
</Layout>

<style>
  main {
    max-width: 1200px;
  }

  .gallery-item-block {
    display: flex;
    gap: 15px;
    flex-direction: column;
  }

  img {
    max-width: 100%;
    max-height: 130vh;
    margin: 0 auto;
    display: block;
    width: inherit;
    height: inherit;
  }

  :global(p:first-child) {
    margin-top: 0;
  }

  @media screen and (min-width: 800px) {
    .gallery-item-block {
      flex-direction: row;
    }

    .img {
      min-width: 65%;
    }
  }
</style>
