---
import { Image } from "astro:assets";

import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const galleryItems = await getCollection("blog");
  return galleryItems.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout
  title={`${entry.data.title.toLowerCase()} ||| blog ||| bdadams.com`}
  sourceLink="/src/pages/blog/[...slug].astro"
>
  <main>
    <div class="card">
      <span>
        <a href="/blog" class="back">
          <i class="fa-sharp fa-solid fa-arrow-left-long"></i>
          Back to All Posts
        </a>
      </span>

      <div class="title">
        <h1 transition:name={`${entry.slug}-title`}>{entry.data.title}</h1>
        {
          entry.data.subtitle && (
            <h2 transition:name={`${entry.slug}-subtitle`}>
              {entry.data.subtitle}
            </h2>
          )
        }
        <strong transition:name={`${entry.slug}-date`}>
          {
            entry.data.date.toLocaleDateString("en-us", {
              weekday: "long",
              year: "numeric",
              month: "long",
              day: "numeric",
            })
          }
        </strong>
      </div>

      {
        entry.data.heroImage && (
          <div class="hero" transition:name={`${entry.slug}-hero`}>
            <Image
              src={entry.data.heroImage}
              alt={entry.data.heroImageAltText ?? entry.data.title}
              width="1800"
            />
          </div>
        )
      }

      <div class="content">
        <Content />
      </div>
    </div>
  </main>
</Layout>

<style lang="scss">
  h1,
  h2 {
    margin: 0;
    padding: 0;
    line-height: 1;
  }

  h2 {
    font-weight: 400;
  }

  .title {
    margin-top: 10px;
    margin-bottom: 25px;
    display: flex;
    gap: 15px;
    flex-direction: column;
  }

  div.hero {
    margin-left: -10px;
    margin-right: -10px;

    img {
      max-width: 100%;
      height: inherit;
    }
  }

  .content {
    font-size: 1.1em;

    :global(pre) {
      padding: 10px;
    }

    :global(p) {
      margin-bottom: 25px;
      overflow-wrap: break-word;
    }

    :global(li) {
      margin-bottom: 10px;
    }

    :global(img) {
      width: 100%;
      max-width: 600px;
      display: block;

      &.center {
        margin: 0 auto;
      }

      &.large {
        max-width: 720px;
      }

      &.small {
        max-width: 400px;
      }

      &.extra-small {
        max-width: 220px;
      }
    }

    :global(figcaption) {
      font-size: 0.85em;
      color: var(--color-text-muted);

      &.center {
        text-align: center;
      }
    }

    :global(blockquote) {
      font-size: 1.15em;
      font-weight: 800;
      background: var(--color-subcard-background);
      padding: 15px;
      border-radius: 5px;
      color: var(--color-primary);
      margin: 0 10px;
    }

    :global(blockquote p:first-child) {
      margin-top: 0;
    }

    :global(blockquote p:last-child) {
      margin-bottom: 0;
    }
  }

  @media (min-width: 500px) {
    div.hero {
      margin-left: -20px;
      margin-right: -20px;
    }
  }
</style>
