---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import Enumerable from "linq";

import Layout from "@layouts/Layout.astro";

import Typer from "@components/Typer.vue";
import { getReadingTime } from "@utils/readingTime";

const allBlogCollection = await getCollection("blog");

const blogItems = Enumerable.from(allBlogCollection)
  .select((i) => ({ ...i.data, slug: i.id, body: i.body }))
  .orderByDescending((a) => a.pubDate)
  .toArray();
---

<Layout
  title="Blog"
  description="Brian D. Adams blog posts."
  sourceLink="/src/pages/blog/index.astro"
>
  <main>
    <div class="card">
      <a
        href="/rss.xml"
        title="RSS Feed"
        class="float-right"
        aria-label="RSS Feed"
      >
        <i class="fa-sharp fa-solid fa-square-rss fa-2x"></i>
      </a>

      <h1>
        <Typer client:load text="Blog" duration={600} />
      </h1>

      <div class="entries">
        {
          blogItems.map((i) => (
            <div class="entry">
              <div>
                <a href={`/blog/${i.slug}/`}>
                  <h3>
                    <span transition:name={`${i.slug}-title`}>{i.title}</span>
                    <small transition:name={`${i.slug}-subtitle`}>
                      {i.subtitle}
                    </small>
                  </h3>
                </a>

                <div>
                  <strong class="date" transition:name={`${i.slug}-date`}>
                    {i.pubDate.toLocaleDateString("en-us", {
                      year: "numeric",
                      month: "long",
                      day: "numeric",
                    })}
                  </strong>
                  &middot;
                  <span class="reading-time">{getReadingTime(i.body)}</span>
                  &middot;
                  <small>{i.description}</small>
                </div>
              </div>

              <div transition:name={`${i.slug}-hero`}>
                <a href={`/blog/${i.slug}/`}>
                  <Image
                    src={i.heroImage}
                    alt={i.heroImageAltText}
                    width="420"
                    densities={[1.5, 2]}
                  />
                </a>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </main>
</Layout>

<style lang="scss">
  h3 {
    margin-top: 0;
    font-weight: 800;

    small {
      font-weight: 400;
    }
  }

  a {
    text-decoration: none;
  }

  .entries {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
  }

  .entry {
    display: flex;
    align-items: top;
    flex-direction: row-reverse;
    gap: 15px;
    line-height: 1.3;

    .date {
      text-transform: uppercase;
      font-size: 0.8em;
      letter-spacing: 0.2px;
    }

    .reading-time {
      font-size: 0.85em;
      font-style: italic;
    }

    div:first-child {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      color: var(--color-text-muted);
    }

    img {
      object-fit: cover;
      aspect-ratio: 10/7;
      width: 80px;
      height: inherit;
    }

    h3 {
      margin: 0;
    }

    @media screen and (min-width: 400px) {
      align-items: center;

      img {
        width: 130px;
      }
    }
  }

  @media screen and (min-width: 700px) {
    .entries {
      grid-template-columns: repeat(2, 1fr);
    }

    .entry {
      flex-direction: column-reverse;
      gap: 5px;

      h3 {
        margin-bottom: 4px;

        small {
          display: block;
        }
      }

      img {
        width: 100%;
        aspect-ratio: 10/6;
        object-position: 50% 10%;
      }
    }
  }
</style>
