---
interface Props {
  hero?: boolean;
}

const { hero } = Astro.props;

const wrapperClasses = `title-block ${hero ? "hero" : ""}`;

import { Image } from "astro:assets";

import AnimatedEntrance from "../AnimatedEntrance.vue";
import Menu from "../Menu.vue";
import Typer from "../Typer.vue";

import headshotImg from "../../assets/headshot.png";

const heroSpeedAdjustment = 1.3;
---

<div id="title-block" class={wrapperClasses}>
  <button
    class="menu-trigger"
    onclick="document.getElementById('menu-link')?.click()"
    title="Show Menu"
    aria-label="Show Menu"
  >
    {
      hero ? (
        <AnimatedEntrance
          client:only="vue"
          type="fadeInDown"
          delay={3.5 / heroSpeedAdjustment}
          name="titleHeadshot"
          once
        >
          <Image
            src={headshotImg}
            alt="Brian Adams Headshot"
            widths={[80, 160, 350, 700]}
            sizes="350px"
            transition:name="title-photo"
            loading="eager"
          />
        </AnimatedEntrance>
      ) : (
        <Image
          src={headshotImg}
          alt="Brian Adams Headshot"
          widths={[80, 160, 350, 700]}
          sizes="80px"
          transition:name="title-photo"
          loading="eager"
        />
      )
    }
  </button>

  <div class="title">
    <div class="name" transition:name="title-name">
      <button
        class="menu-trigger"
        onclick="document.getElementById('menu-link')?.click()"
        aria-label="Show Menu"
      >
        <span class="bracket">
          {
            hero ? (
              <Typer
                text="<"
                client:only="vue"
                duration={100 / heroSpeedAdjustment}
                name="titleStartBracket"
                once
                hiddenOnStart
              />
            ) : (
              "<"
            )
          }
        </span>

        <span class="text-gradient">
          {
            hero ? (
              <Typer
                text="Brian D. Adams"
                client:only="vue"
                duration={1000 / heroSpeedAdjustment}
                delay={100 / heroSpeedAdjustment}
                name="titleName"
                once
                hiddenOnStart
              />
            ) : (
              "Brian D. Adams"
            )
          }
        </span>

        <span class="bracket">
          {
            hero ? (
              <Typer
                text="/>"
                client:only="vue"
                duration={100 / heroSpeedAdjustment}
                delay={1100 / heroSpeedAdjustment}
                name="titleEndBracket"
                once
                hiddenOnStart
              />
            ) : (
              "/>"
            )
          }
        </span>
      </button>
    </div>
    <div class="desc" transition:name="title-desc">
      <button
        class="menu-trigger"
        onclick="document.getElementById('menu-link')?.click()"
        aria-label="Show Menu"
      >
        <span class="bracket">
          {
            hero ? (
              <Typer
                text="["
                client:only="vue"
                duration={100 / heroSpeedAdjustment}
                delay={1300 / heroSpeedAdjustment}
                name="titleStartBracket"
                once
                hiddenOnStart
              />
            ) : (
              "["
            )
          }
        </span>
        <span class="string">
          {
            hero ? (
              <Typer
                text='"web developer"'
                client:only="vue"
                duration={1000 / heroSpeedAdjustment}
                delay={1400 / heroSpeedAdjustment}
                name="titleWebDev"
                once
                hiddenOnStart
              />
            ) : (
              '"web developer"'
            )
          }
        </span>
        {
          hero ? (
            <Typer
              text=","
              client:only="vue"
              duration={100 / heroSpeedAdjustment}
              delay={2400 / heroSpeedAdjustment}
              name="titleComma"
              once
              hiddenOnStart
            />
          ) : (
            ","
          )
        }

        <span class="string">
          {
            hero ? (
              <Typer
                text='"ui/ux designer"'
                client:only="vue"
                duration={1000 / heroSpeedAdjustment}
                delay={2500 / heroSpeedAdjustment}
                name="titleUiUx"
                once
                hiddenOnStart
              />
            ) : (
              '"ui/ux designer"'
            )
          }
        </span>
        <span class="bracket">
          {
            hero ? (
              <Typer
                text="]"
                client:only="vue"
                duration={100 / heroSpeedAdjustment}
                delay={3500 / heroSpeedAdjustment}
                name="titleEndBracket"
                once
                hiddenOnStart
              />
            ) : (
              "]"
            )
          }
        </span>
      </button>
    </div>
    {
      hero && (
        <AnimatedEntrance
          client:only="vue"
          delay={4 / heroSpeedAdjustment}
          type="fadeInUp"
          name="titleMenu"
          once
        >
          <div class="menu">
            <Menu
              id="menu"
              client:only="vue"
              fixedLink={false}
              showLabel={true}
              transition:name="menu-link"
            />
          </div>
        </AnimatedEntrance>
      )
    }
  </div>
</div>

<style lang="scss">
  .title-block {
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    display: flex;
    margin: 0 auto;
    align-items: center;
    font-family: "IBM Plex Mono", monospace;
    font-size: calc(1em + 2vw);
    justify-content: center;
    gap: 10px;
  }

  img {
    object-fit: cover;
    width: 80px;
    height: inherit;
  }

  .hero {
    font-size: calc(1em + 4vw);
    min-height: 100vh;
    justify-content: center;
    flex-direction: column;

    img {
      width: 350px;
      height: 260px;
      background-position: 45% 20%;
      object-position: 50% 10%;
    }
  }

  .bracket {
    color: var(--color-secondary);
  }

  .string {
    color: var(--color-primary);
  }

  a {
    text-decoration: none;
    color: var(--color-link);
  }

  .menu-trigger {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    text-align: inherit;
  }

  .name {
    font-weight: 400;
    text-align: center;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  .desc {
    text-align: center;
    font-size: 0.45em;
    margin-top: 1px;
  }

  .menu {
    padding-top: 50px;
  }
</style>
