---
import Layout from "../layouts/Layout.astro";

import Collapser from "../components/Collapser.vue";
import Typer from "../components/Typer.vue";

import ResumeSkillGrid from "../components/Resume/ResumeSkillGrid.astro";
import ResumeHighlighter from "../components/Resume/ResumeHighlighter.vue";
import ResumeSkillBlock from "../components/Resume/ResumeSkillBlock.astro";
import ResumeExperienceBlock from "../components/Resume/ResumeExperienceBlock.astro";

import { getEntry, getCollection } from "astro:content";

const profileEntryPromise = getEntry("resume", "profile");
const educationEntryPromise = getEntry("resume", "education");
const certsEntryPromise = getEntry("resume", "certs");
const skillCollectionPromise = getCollection("resumeSkills");
const experienceCollectionPromise = getCollection("resumeExperience");

const profileEntry = await profileEntryPromise;
const educationEntry = await educationEntryPromise;
const certsEntry = await certsEntryPromise;
const skillsEntries = (await skillCollectionPromise).sort(
  (a, b) => a.data.order - b.data.order
);
const experienceEntries = (await experienceCollectionPromise).sort((a, b) =>
  b.data.startDate.localeCompare(a.data.startDate)
);

const profileEntryRenderPromise = profileEntry.render();
const educationEntryRenderPromise = educationEntry.render();
const certsEntryRenderPromise = certsEntry.render();

const ProfileContent = (await profileEntryRenderPromise).Content;
const EducationContent = (await educationEntryRenderPromise).Content;
const CertsContent = (await certsEntryRenderPromise).Content;
---

<Layout title="resume ||| bdadams.com" sourceLink="/src/pages/resume.astro">
  <main>
    <div class="card">
      <a
        href="/docs/resume.pdf"
        title="PDF Version"
        class="float-right"
        aria-label="Download PDF Version"
      >
        <i class="fa-sharp fa-solid fa-file-pdf fa-2x"></i>
      </a>

      <h1 aria-label="Resume">
        <Typer client:load text="Resume" time={600} />
      </h1>

      <ResumeHighlighter client:load :class="wrapperClasses">
        <Collapser client:load title={profileEntry.data.title}>
          <ProfileContent />
        </Collapser>

        <Collapser client:load title="Experience">
          {experienceEntries.map((e) => <ResumeExperienceBlock entry={e} />)}
        </Collapser>

        <Collapser client:load title={educationEntry.data.title}>
          <EducationContent />
        </Collapser>

        <Collapser client:load title={certsEntry.data.title}>
          <CertsContent />
        </Collapser>

        <Collapser client:load title="Skills">
          <ResumeSkillGrid>
            {skillsEntries.map((e) => <ResumeSkillBlock entry={e} />)}
          </ResumeSkillGrid>
        </Collapser>
      </ResumeHighlighter>
    </div>
  </main>
</Layout>
