---
import Layout from "@layouts/Layout.astro";

import Collapser from "@components/Collapser.vue";
import Typer from "@components/Typer.vue";

import ResumeSkillGrid from "@components/Resume/ResumeSkillGrid.astro";
import ResumeHighlighter from "@components/Resume/ResumeHighlighter.vue";
import ResumeSkillBlock from "@components/Resume/ResumeSkillBlock.astro";
import ResumeExperienceBlock from "@components/Resume/ResumeExperienceBlock.astro";

import { getEntry, getCollection, render } from "astro:content";

const profileEntryPromise = getEntry("resume", "profile");
const educationEntryPromise = getEntry("resume", "education");
const certsEntryPromise = getEntry("resume", "certs");
const skillCollectionPromise = getCollection("resumeSkills");
const experienceCollectionPromise = getCollection("resumeExperience");

const profileEntry = await profileEntryPromise;
const educationEntry = await educationEntryPromise;
const certsEntry = await certsEntryPromise;
const skillsEntries = (await skillCollectionPromise)
  .sort((a, b) => a.data.order - b.data.order);
const experienceEntries = (await experienceCollectionPromise)
  .sort((a, b) => b.data.startDate.localeCompare(a.data.startDate));

const profileRendered = profileEntry ? await render(profileEntry) : null;
const educationRendered = educationEntry ? await render(educationEntry) : null;
const certsRendered = certsEntry ? await render(certsEntry) : null;

const ProfileContent = profileRendered?.Content;
const EducationContent = educationRendered?.Content;
const CertsContent = certsRendered?.Content;
---

<Layout
  title="Resume"
  description="Brian D. Adams' electronic resume."
  sourceLink="/src/pages/resume.astro"
>
  <main>
    <div class="card">
      <a
        href="/docs/resume.pdf"
        title="PDF Version"
        class="float-right"
        aria-label="Download PDF Version"
      >
        <i class="fa-sharp fa-solid fa-file-pdf fa-2x"></i>
      </a>

      <h1 aria-label="Resume">
        <Typer client:load text="Resume" duration={600} />
      </h1>

      <ResumeHighlighter client:load>
        <Collapser client:load title={profileEntry?.data.title}>
          {ProfileContent && <ProfileContent />}
        </Collapser>

        <Collapser client:load title="Work Experience">
          {experienceEntries.map((e) => <ResumeExperienceBlock entry={e} />)}
        </Collapser>

        <Collapser client:load title={educationEntry?.data.title}>
          {EducationContent && <EducationContent />}
        </Collapser>

        <Collapser client:load title={certsEntry?.data.title}>
          {CertsContent && <CertsContent />}
        </Collapser>

        <Collapser client:load title="Skills">
          <ResumeSkillGrid>
            {skillsEntries.map((e) => <ResumeSkillBlock entry={e} />)}
          </ResumeSkillGrid>
        </Collapser>
      </ResumeHighlighter>
    </div>
  </main>
</Layout>

<style>
  :global(a) {
    font-weight: bold;
  }
</style>
