---
interface Props {
  sourceLink: string;
  contentLink?: string;
}

const { sourceLink, contentLink } = Astro.props;

const fullSourceLink = `https://github.com/BrianDAdamsDevland/bdadamsdotcom/blob/main${sourceLink}`;
const fullContentLink = `https://github.com/BrianDAdamsDevland/bdadamsdotcom/blob/main${contentLink}`;
---

<footer>
  <div>
    <p>Site by Brian D. Adams</p>
  </div>

  <div>
    <p>
      Built with
      <a href="https://astro.build"> {Astro.generator}</a>
    </p>

    <p>
      <small>
        <a href={fullSourceLink}> View Page Source</a>
        {
          contentLink && (
            <span>
              {" "}
              &middot;
              <a href={fullContentLink}>View Content Source</a>
            </span>
          )
        }
      </small>
    </p>
  </div>
</footer>

<style lang="scss">
  footer {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    padding: 35px 15px;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    font-size: 0.9em;

    a {
      text-decoration: none;
      font-weight: 600;

      &:hover {
        text-decoration: underline;
      }
    }

    p {
      margin-top: 0;
      margin-bottom: 5px;
      text-align: center;
    }
    p:last-child {
      margin-bottom: 0;
    }
  }
</style>
