---
interface Props {
  title: string;
  description: string;
  openGraph?: SEOProps["openGraph"];
  heroTitle?: boolean;
  hideMenu?: boolean;
  sourceLink: string;
}

const { title, description, openGraph, heroTitle, hideMenu, sourceLink } =
  Astro.props;

import Title from "../components/Title/Title.astro";
import Menu from "../components/Menu.vue";
import Footer from "../components/Footer.astro";

import { ViewTransitions } from "astro:transitions";
import { SEO, type Props as SEOProps } from "astro-seo";
---

<!doctype html>
<html lang="en">
  <head>
    <SEO
      title={title}
      titleTemplate="%s | bdadams.com"
      description={description}
      charset="UTF-8"
      openGraph={openGraph}
      extend={{
        link: [
          {
            rel: "alternate",
            type: "application/rss+xml",
            title: "Blog",
            href: "/rss.xml",
          },
          {
            rel: "sitemap",
            href: "/sitemap-index.xml",
          },
        ],
        meta: [
          {
            name: "generator",
            content: Astro.generator,
          },
        ],
      }}
    />

    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon-32x32.png" />

    <link
      rel="stylesheet"
      href="https://kit.fontawesome.com/d39a110d2c.css"
      crossorigin="anonymous"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />

    <script is:inline type="text/javascript">
      (function (c, l, a, r, i, t, y) {
        c[a] =
          c[a] ||
          function () {
            (c[a].q = c[a].q || []).push(arguments);
          };
        t = l.createElement(r);
        t.async = 1;
        t.src = "https://www.clarity.ms/tag/" + i;
        y = l.getElementsByTagName(r)[0];
        y.parentNode.insertBefore(t, y);
      })(window, document, "clarity", "script", "l1t8b3e7va");
    </script>

    <ViewTransitions fallback="swap" />
  </head>
  <body>
    {!hideMenu && <Menu client:only transition:name="menu-link" />}
    <Title hero={heroTitle} transition:name="title" />
    <slot />

    <Footer sourceLink={sourceLink} />

    <!-- Based on: https://www.kevinzunigacuellar.com/blog/dark-mode-in-astro/ -->
    <script is:inline>
      const handleOverrideTheme = () => {
        const overrideTheme = (() => {
          if (localStorage?.getItem("theme")) {
            return localStorage.getItem("theme");
          }
        })();

        document.documentElement.classList.add(overrideTheme);
      };

      handleOverrideTheme();

      document.addEventListener("astro:after-swap", handleOverrideTheme);

      document.addEventListener("astro:before-swap", (e) => {
        sessionStorage.setItem("prevHref", e.from.href);
      });
    </script>

    <style is:global lang="scss">
      /* Global Theming */
      :root {
        --color-light-blue-200: #81d4fa;
        --color-light-blue-50: #e1f5fe;
        --color-light-blue-700: #0288d1;
        --color-light-blue-800: #0277bd;
        --color-amber-100: #ffecb3;
        --color-amber-200: #ffe082;
        --color-amber-800: #ff8f00;
        --color-amber-900: #ff6f00;

        --color-menu-link-background: var(--color-light-blue-700);
        --color-menu-link-text: white;

        --color-link: var(--color-text);
        --color-card-shadow: rgba(0, 0, 0, 0.1);

        --color-active-selection-background: var(--color-primary);

        --background: linear-gradient(
          331deg,
          var(--color-background-dark) 0%,
          var(--color-background-light) 100%
        );
      }

      /* Light Theme */
      :root,
      :root.light {
        --color-primary: var(--color-light-blue-800);
        --color-secondary: var(--color-amber-900);
        --color-ternary: var(--color-light-blue-700);
        --color-background-dark: rgb(240, 240, 240);
        --color-background-light: rgb(255, 255, 255);
        --color-text: black;
        --color-text-very-light: rgba(0, 0, 0, 0.15);
        --color-text-muted: rgba(0, 0, 0, 0.6);
        --color-menu-background: rgba(255, 255, 255, 0.6);
        --color-card-background: rgb(240, 240, 240);
        --color-card-border: rgba(0, 0, 0, 0.2);
        --color-subcard-background: rgb(250, 250, 250);
        --color-active-selection-text: white;
      }

      /* Dark Theme */
      @media (prefers-color-scheme: dark) {
        :root {
          --color-primary: var(--color-light-blue-200);
          --color-secondary: var(--color-amber-200);
          --color-ternary: var(--color-light-blue-50);
          --color-background-dark: rgb(22, 22, 22);
          --color-background-light: rgb(95, 95, 95);
          --color-text: white;
          --color-text-very-light: rgba(255, 255, 255, 0.15);
          --color-text-muted: rgba(255, 255, 255, 0.6);
          --color-menu-background: rgba(0, 0, 0, 0.6);
          --color-card-background: rgb(35, 35, 35);
          --color-card-border: rgba(255, 255, 255, 0.2);
          --color-subcard-background: rgb(20, 20, 20);
          --color-active-selection-text: black;
        }
      }

      :root.dark {
        --color-primary: var(--color-light-blue-200);
        --color-secondary: var(--color-amber-200);
        --color-ternary: var(--color-light-blue-50);
        --color-background-dark: rgb(22, 22, 22);
        --color-background-light: rgb(95, 95, 95);
        --color-text: white;
        --color-text-very-light: rgba(255, 255, 255, 0.15);
        --color-text-muted: rgba(255, 255, 255, 0.6);
        --color-menu-background: rgba(0, 0, 0, 0.6);
        --color-card-background: rgb(35, 35, 35);
        --color-card-border: rgba(255, 255, 255, 0.2);
        --color-subcard-background: rgb(20, 20, 20);
        --color-active-selection-text: black;
      }
    </style>

    <style is:global>
      html {
        font-family:
          system-ui,
          -apple-system,
          BlinkMacSystemFont,
          "Segoe UI",
          Roboto,
          Oxygen,
          Ubuntu,
          Cantarell,
          "Open Sans",
          "Helvetica Neue",
          sans-serif;
        background: var(--background);
        background-attachment: fixed;
        color: var(--color-text);
      }

      code,
      h1,
      h2,
      h3,
      h4 {
        font-family: "IBM Plex Mono", monospace;
      }

      main {
        margin: auto;
        padding: 0.25rem;
        font-size: 1em;
        line-height: 1.6;
        max-width: 900px;
      }

      .card {
        background: var(--color-card-background);
        padding: 10px;
        margin: 20px 0;
        transition: all 0.5s;
        box-shadow: 2px 2px 10px var(--color-card-shadow);
        border-radius: 5px;
        border: 1px solid var(--color-card-border);
        color: var(--color-text);
      }

      a {
        color: var(--color-link);
      }

      .float-right {
        float: right;
      }

      body {
        margin-top: 20px;
      }

      h1 {
        margin-top: 0;
      }

      h3 {
        color: var(--color-primary);
      }

      h4 {
        color: var(--color-secondary);
      }

      .cursor-pointer {
        cursor: pointer;
      }

      @media (min-width: 500px) {
        main {
          padding: 1rem;
        }

        .card {
          padding: 20px;
        }
      }
    </style>
  </body>
</html>
