---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

import Layout from "@layouts/Layout.astro";
import GoBack from "@components/Portfolio/GoBack.vue";

export async function getStaticPaths() {
  const portfolioItems = await getCollection("portfolio");
  return portfolioItems.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout
  title={`${entry.data.title} | Portfolio`}
  description={entry.data.description}
  sourceLink="/src/pages/portfolio/[...slug].astro"
  contentLink={`/src/content/portfolio/${entry.id}`}
>
  <main>
    <div class="card">
      <span>
        <GoBack client:only="vue" />
      </span>
      <h1 transition:name={`${entry.slug}-title`}>
        {entry.data.title}
        <small transition:name={`${entry.slug}-year`}>
          ({entry.data.year})
        </small>
      </h1>

      <div class="portfolio-item-block">
        <div class="img">
          <Image
            src={entry.data.image}
            transition:name={`${entry.slug}-img`}
            alt={entry.data.title}
            width={800}
            widths={[240, 540, 720, entry.data.image.width]}
            sizes="(min-width: 1320px) 753px, (min-width: 800px) 58.2vw, (min-width: 500px) calc(100vw - 90px), calc(100vw - 46px)"
          />
        </div>

        <div>
          <Content />
        </div>
      </div>
    </div>
  </main>
</Layout>

<style>
  main {
    max-width: 1200px;
  }

  .portfolio-item-block {
    display: flex;
    gap: 15px;
    flex-direction: column;
  }

  img {
    max-width: 100%;
    max-height: 130vh;
    margin: 0 auto;
    display: block;
    width: inherit;
    height: inherit;
  }

  :global(p:first-child) {
    margin-top: 0;
  }

  @media screen and (min-width: 800px) {
    .portfolio-item-block {
      flex-direction: row;
    }

    .img {
      min-width: 65%;
    }
  }
</style>
