---
import { Image } from "astro:assets";

import Layout from "@layouts/Layout.astro";
import Typer from "@components/Typer.vue";

import { getCollection } from "astro:content";

const allPortfolioCollection = await getCollection("portfolio");

const portfolioItems = allPortfolioCollection
  .map((i) => ({ ...i.data, slug: i.id }))
  .sort((a, b) => b.year - a.year);
---

<Layout
  title="Portfolio"
  description="Brian D. Adams portfolio of past application work."
  sourceLink="/src/pages/portfolio/index.astro"
>
  <main>
    <div class="card">
      <h1>
        <Typer client:load text="Portfolio" duration={700} />
      </h1>

      <div class="portfolio-block">
        {
          portfolioItems.map((item, i) => (
            <div class="item">
              <a href={`/portfolio/${item.slug}/`}>
                <Image
                  src={item.image}
                  alt={item.title}
                  widths={[240, 370, 540, 720, 800, item.image.width]}
                  sizes="(min-width: 900px) 370px, (min-width: 500px) calc(50vw - 53px), calc(50vw - 33px)"
                  transition:name={`${item.slug}-img`}
                  decoding="async"
                  loading={i < 6 ? "eager" : "lazy"}
                  fetchpriority={i < 3 ? "high" : undefined}
                />
              </a>

              <div class="title">
                <a href={`/portfolio/${item.slug}/`}>
                  <strong transition:name={`${item.slug}-title`}>
                    {item.title}
                  </strong>
                  <span transition:name={`${item.slug}-year`}>{item.year}</span>
                </a>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </main>
</Layout>

<style lang="scss">
  .portfolio-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    transition: all 0.2s;

    .item {
      display: flex;
      flex-direction: column;
      gap: 8px;
      text-align: center;
    }

    img {
      object-fit: cover;
      object-position: 50% 10%;
      display: block;
      aspect-ratio: 1 / 1;
      width: 100%;
      height: auto;
    }

    a {
      text-decoration: none;
    }

    .title a {
      display: flex;
      flex-direction: column;
      line-height: 1.4;

      span {
        font-weight: 300;
      }
    }
  }

  main {
    max-width: 1200px;
  }

  @media screen and (min-width: 500px) {
    .portfolio-block {
      gap: 30px;
    }
  }

  @media screen and (min-width: 900px) {
    .portfolio-block {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
